<main>
    <div class="row">
        <div class="col-12 mb-5">
            {{#with navigation}}
            <div class="nav nav-tabs">
                <div class="nav-item">
                    {{#each links}}
                        <a htef="href" class="nav-link">{{text}}</a>
                    {{/each}}
                </div>
            </div>
            {{/with}}
            </div>
        </div>
    </div>
</main>